:root {
  --purple: #9c20aa;
  --blue: #0038ff;
  --violet: #ff00f5;
  --yellow: #d6e80e;
  --green: #40ff7b;
}

body {
  margin: 0;
}
.main {
  min-height: 100vh;
  background: linear-gradient(180deg, #0b1a38 0%, rgba(34, 7, 7, 0.99) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__btn {
  margin: auto;
  cursor: pointer;
  background: none;
  padding: 20px;
  min-height: 50px;
  min-width: 150px;
  font-size: 25px;
  color: #fff;
  border: 5px solid transparent;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.main__btn::before {
  transition: 0.5s;
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3px;
  border-radius: 15px;
  border: 1px double transparent;
  border-radius: 7px;
  background-image: linear-gradient(#0b1a38, #220707fc),
    linear-gradient(var(--purple), var(--blue));
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.main__btn:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 -0.5em 0.5em -0.4em var(--yellow),
    0 0.5em 0.5em -0.4em var(--violet);
}

.main__btn:hover::before {
  background-image: linear-gradient(#0b1a38, #220707fc),
    linear-gradient(var(--yellow), var(--violet));
}

.box {
  display: grid;
  justify-content: center;
  grid-template-rows: 50px auto 70px;
}

.form {
  font-size: 19px;
  position: relative;
  overflow: hidden;
}

.main__input {
  width: 220px;
  height: 28px;
  padding-top: 20px;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.label_name {
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #9c20aa;
  color: #ffff;
  font-family: sans-serif;
  text-transform: uppercase;
}

.label_name::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--green);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content_name {
  position: absolute;
  bottom: 5px;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.main__input:focus + .label_name .content_name,
.main__input:valid + .label_name .content_name {
  transform: translateY(-150%);
  font-size: 14px;
  color: var(--green);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
}

.main__input:focus + .label_name::after,
.main__input:valid + .label_name::after {
  transform: translateX(0);
}

.main__btn_mint {
  text-transform: uppercase;
  margin-left: 35px;
  cursor: pointer;
  background: none;
  padding: 20px;
  min-height: 50px;
  min-width: 150px;
  font-size: 25px;
  color: #313149;
  border: 3px solid #1ccdff;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: #fff;
}

.main__btn_mint:hover {
  box-shadow: 0 -0.5em 0.5em -0.4em #1ccdff, 0 0.5em 0.5em -0.4em #1ccdff;
  background: #0b1a38;
}

.instruction_list {
  list-style: decimal;
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.instruction_list > li {
  margin-top: 5px;
}

.instruction_list > li:last-child {
  list-style-type: '*  ';
}

.mint_form {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
  }

  .main__input {
    width: 146px;
  }

  .main__btn_mint {
    margin-left: 0;
    margin-top: 40px;
  }

  .content_name {
    font-size: 14px;
  }
  .instruction_list {
    top: 0;
    position: unset;
  }
  .mint_form {
    flex-direction: column;
  }
}
